html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(253,185,39);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: 'Graduate', cursive;
  /* margin: 0; */
}

.main-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: azure; */
    /* min-height: 60vh; */
    /* height: 369px; */
    /* max-width: 35em; */
    /* min-width: 100vh; */
    margin: 10vh 0 0 0;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.150);  */
  }

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* .board {
  background-color: rgb(18, 22, 48);
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 400px;
  width: 400px;
  border: 1px solid rgb(255, 8, 8);
} */

.board {
  display: grid;
  grid-template-columns: auto-repeate(18, 11vmin);
  grid-template-rows: auto-repeate(18, 11vmin);
  /* grid-column: 1/17;
  grid-row: 1/15; */
  /* grid-gap: 0vmin; */
  width: 400px;
  height: 400px;
  position: relative;
  text-align: center;
  justify-content: center;
  /* grid-template-columns: 100px 100px 100px ;
  grid-template-rows: 100px 100px 100px 20px; */
  /* justify-content: center; */
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(85,37,130);
  box-shadow: black 10px 10px 70px;
  z-index: 1;
  margin-top: 10%;
}

.wall {
  display: grid;
  border: none;
}

.sqr {
  border: .5px solid #80CED7;
  width: 25px;
  height: 25px;
  font-size: 8vmin;
  text-align: center;
  /* vertical-align: middle; */
  outline-width: 2ch;
  /* border-radius: 35% */
}


.snake {
  width: 25px;
  height: 25px;
  background-color: yellowgreen;
  border: 1px solid greenyellow;
  display: inline-block;
  position: absolute;
  /* left: 0;
  top: 0; */
  /* grid-column-start: 8;
  grid-row-start: 8; */
}

.kobe{
  width: 25px;
  height: 25px;
  background-image: url("../assets/kobe.png");
}

.controller {
  display: flex;
  justify-content: center;
}
.game-operators {
  display: flex;
  justify-content: center;
}

.background-numbers{
  font-family: 'Graduate', cursive;
  font-size: 150px;
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-stroke-width: 1px;
  color: rgb(0, 0, 0, .2);
  z-index: -1;
}
#eight {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* float: left;
  position: absolute;
  left: 50px;
  top: -160px */
}
#twentyfour {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: -20px;
  top: 40px;
  font-size: 240px;
  letter-spacing: -25px;
}

.score-board {
  display: flex;
  float: right;
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 25px;
}

body > h1 {
  display: flex;
  /* justify-content: center; */
  position: absolute;
  margin: 0;
  font-size: 90px;
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-stroke-width: .2px;
  margin-left: 25%;
  margin-top: -1.50%;
  z-index: -1;
}